<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/styles.css') }}">
    <title>Fix Your Health</title>
    {% block head %}{% endblock %}
</head>
<body>
    <header class="header">
        <div class="container header__container">
            <h1><a href="#">FixYourHealth</a></h1>
            <nav class="header__nav">
                <ul>
                    <li><a href="#">My statistic</a></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <hr>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>